@font-face{font-family:'Mono';src:url("DejaVuSansMono.ttf")}
body{margin:0;background-image:url('bg.png');color:#acf;font-family:'Mono';font-size:18;line-height:1.4}
p,#c a{text-shadow: 0 0 6px #08f}
img{margin:0 auto;width:100%;max-width:1130px;display:block}
h2{margin:0 0 16px 0;font-size:28;color:#0fa}
h3{margin:8px 0;font-size:20}
li{text-align:left}
a{text-decoration:none}
#c{margin:32px auto 64px auto;max-width:1098px;padding:24px;background-color:rgba(255,255,255,0.0);text-align:justify}
.linksdiv{margin-bottom:48px;text-align:center}
.description{margin:0 0 32px 0}
.lorep{text-indent:12px}
#m{
margin:0 auto;
position:sticky;
top:0;
width:1200px;
height:48px;
max-width:100%;
background-color:#000;
line-height:48px;
text-align:center;
font-size:18;
font-weight:bold;
white-space:nowrap
}
#m a{float:left;width:20%;background-size:100% 100%;color:inherit}
#m a[href]:hover{background-image:url('hover.svg')}
#m a:not([href]){background-image:url('active.svg')}
#c a{color:#0fa;text-shadow:none}
#c h3 a{color:#bcf;display:block}
#c a lm{color:#043}
#c a:hover lm{color:#0fa}
